{% if page.has_code != false %}
<section class="section is-small">
  <div class="container">
    <h2 class="title is-2">Code</h2>

    <a href="{{ site.github.repository_url }}/tree/master/{{page.path | replace:'.md',''}}" class="button
    is-primary">Download code</a>
    {% highlight c %}{% include_relative {{ page.path | remove: "_examples/" | remove: ".md" }}/{{ page.path | remove:
    "_examples/" | remove: ".md" }}.ino %}{% endhighlight %}

    <h2 class="title is-2">Makefile</h2>
    {% highlight make %}{% include_relative {{ page.path | remove: "_examples/" | remove: ".md" }}/Makefile %}{%
    endhighlight %}
  </div>
</section>
{% endif %}
