{% if page.steps or page.images %}
<section class="section is-small">
  <div class="container">
    <div class="columns is-multiline is-desktop">

      {% if page.steps %}
      <div class="column is-half">
        <h2 class="title is-2">Steps</h2>
        <div class="content is-medium">
          <ol type=1>
            {% for step in page.steps %}
            <li>
              {{ step.step }}
              {% if step.image %}
              <a href="{{ site.url}}/images/examples/{{ step.image }}"><img
                  src="{{ site.url}}/images/examples/{{ step.image }}" alt="{{step.step}}"></a>
              {% endif %}
            </li>
            {% endfor %}
          </ol>
        </div>
      </div>
      {% endif %}

      {% if page.images.console %}
      <div class="column is-half">
        <h2 class="title is-2">Serial console</h2>
        <p class="subtitle is-4">Serial output from the firmware.</p>
        <div class="content is-medium">
          <a href="{{ site.url}}/images/examples/{{ page.images.console }}">
            <img src="{{ site.url}}/images/examples/{{ page.images.console }}" alt="{{ page.name }} setup">
          </a>
        </div>
      </div>
      {% endif %}

      {% if page.images.schematic %}
      <div class="column is-half">
        <h2 class="title is-2">Schematic</h2>
        <p class="subtitle is-4">Wire up the hardware accordingly</p>
        <div class="content is-medium">
          <a href="{{ site.url}}/images/examples/{{ page.images.schematic }}"><img
              src="{{ site.url}}/images/examples/{{ page.images.schematic }}" alt="{{ page.name }} setup"></a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}
