<section class="section is-small">
  <div class="container">
    <h2 class="title is-1">Overview</h2>

    <div class="content is-large">
      <ul>
        <li><strong>Unique number of items:</strong> <span>{{ site.data.bom.bom-uniq }}</span></li>
        <li><strong>Total number of items:</strong> <span>{{ site.data.bom.bom-total }}</span></li>
        <li><strong>Total number of vendors:</strong> <span>{{ site.data.bom.vendors }}</span></li>
        <li><strong>Vendor names:</strong> <span>
          {% for name in site.data.bom.vendor-names %}
            {% if forloop.last == true %}
              {{ name }}
            {% else %}
              {{ name }},
            {% endif %}
          {% endfor %}
        </span></li>
      </ul>
    </div>
  </div>
</section>

<section class="section is-small">
  <div class="container">
    <h2 class="title is-1">Bill of Materials</h2>
    <a href="{{site.url}}/_data/bill_of_materials.csv" class="button is-large is-fullwidth is-info">Download BOM in CSV</a>
    <br>

    <div class="field is-horizontal">
      <div class="field-label is-large">
        <label class="label">Currency</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <div class="select is-large">
              <select id="currency">
                <option>USD</option>
                <option>EUR</option>
                <option>GBP</option>
                <option>INR</option>
                <option>RMB</option>
                <option>SGD</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content is-large">
      <strong>Total cost of items:</strong> <span id="bom-cost"></span>
    </div>

    <div class="table-container">
      <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <th>#</th>
            <th>Designator</th>
            <th>Q</th>
            <th>Package</th>
            <th>Value</th>
            <th>Manufacturer Part No.</th>
            <th>Manufacturer</th>
            <th>Vendor</th>
            <th>Unit Cost</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% assign boms = site.data.bill_of_materials %}
          {% for bom in boms %}
            {% if bom.Designator %}
            <tr class="bom-item">
              <td>{{ forloop.index }}</td>
              <td>{{bom.Designator}}</td>
              <td class="bom-quantity">{{bom.Q}}</td>
              <td>{{bom.Package}}</td>
              <td>{{bom.Value}}</td>
              <td>
                {% if bom.Datasheet.size  > 0 %}
                  {% if bom.MPN %}
                  <a href="{{bom.Datasheet}}">{{bom.MPN}}</a><br>
                  {% else %}
                  <a href="{{bom.Datasheet}}">Datasheet</a><br>
                  {% endif %}
                {% else %}
                  {% if bom.MPN %}
                  {{bom.MPN}}<br>
                  {% endif %}
                {% endif %}
                <span class="tag">{{bom.Category}}</span>
              </td>
              <td>{{bom.Manufacturer}}</td>
              <td>
                {% if bom.Link %}
                <a href="{{bom.Link}}"><span class="bom-vendor">{{bom.Vendor}}</span></a>
                {% else %}
                <span class="bom-vendor">{{bom.Vendor}}</span>
                {% endif %}
              </td>
              <td class="bom-cost">${{bom.Unit | round:2}}</td>
              <td>{{bom.Description}}</td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

{% if page.ibom == true %}
<section class="section is-small">
  <div class="container">
    <h2 class="title is-1">Interactive BOM</h2>

    <p class="subtitle">This can be used while soldering, testing or inspecting the manufactured and assembled PCB.</p>
    <p class="subtitle"><a href="{{ site.url }}/bom/ibom.html">Click here to open full screen</a>.</p>
  </div>
</section>

{%- if jekyll.environment == 'development' and site.google_analytics -%}
<!-- FIXME: If div is used instead of span on the desktop view, the right side view of the PCB in canvas is not displayed. -->
{%- endif -%}
<span class="is-hidden-touch">
  {% include_relative bom/ibom.html %}
</span>
{% endif %}
