<section class="section is-small">
  <div class="container">
    <h2 class="title is-1">{{ page.title}}</h2>
    <div class="tags">
      {% for feat in page.features %}
      <span class="tag is-warning is-light">{{ feat }}</span>
      {% endfor %}

      <span class="tag">{{ page.difficulty }}</span>
    </div>

    <div class="content is-medium">
      <p>{{ page.description }}</p>
    </div>

    <hr>
  </div>
</section>

<section class="section is-small">
  <div class="container">
    <div class="columns is-multiline is-desktop">
      <div class="column is-half">
        <h2 class="title is-2">Steps</h2>

        <div class="content is-medium">
          <ol type=1>
            {% for step in page.steps %}
            <li>
              {{ step.step }}
              {% if step.image %}
              <a href="/images/examples/{{ step.image }}"><img src="/images/examples/{{ step.image }}"
                  alt="{{step.step}}"></a>
              {% endif %}
            </li>
            {% endfor %}
          </ol>
        </div>
      </div>

      <div class="column is-half">
        <h2 class="title is-2">Setup</h2>
        <div class="content is-medium">
          <a href="/images/examples/{{page.path | replace:'.md','' | remove: '_examples/'}}-setup.jpg"><img
              src="/images/examples/{{page.path | replace:'.md','' | remove: '_examples/'}}-setup.jpg"
              alt="{{ page.name }} setup"></a>
        </div>
      </div>

      <div class="column is-half">
        <h2 class="title is-2">Serial prints</h2>
        <div class="content is-medium">
          <a href="/images/examples/{{page.path | replace:'.md','' | remove: '_examples/'}}-print.jpg"><img
              src="/images/examples/{{page.path | replace:'.md','' | remove: '_examples/'}}-print.jpg"
              alt="{{ page.name }} setup"></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-small">
  <div class="container">
    <h2 class="title is-2">Code</h2>

    <a href="{{ site.github.repository_url }}/tree/master/{{page.path | replace:'.md',''}}" class="button
    is-primary">Download code</a>
    {% highlight c %}{% include_relative {{ page.path | remove: "_examples/" | remove: ".md" }}/{{ page.path | remove:
    "_examples/" | remove: ".md" }}.ino %}{% endhighlight %}

    <h2 class="title is-2">Makefile</h2>
    {% highlight make %}{% include_relative {{ page.path | remove: "_examples/" | remove: ".md" }}/Makefile %}{%
    endhighlight %}
  </div>
</section>

<section class="section is-small">
  <div class="container">
    <h2 class="title is-2">References</h2>

    <div class="content is-medium">
      <ol type=1>
        {% for ref in page.references %}
        <li>
          <a href="{{ ref.url }}">{{ ref.name }}</a>
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</section>
