<section class="section is-small">
  <div class="container">
    <div class="columns is-desktop">
      <div class="column">
        <h2 class="title is-1">ECAD Files</h2>
        <a href="{{site.github.repository_url}}/tree/master/hardware" class="button is-large is-fullwidth is-info">Download KiCad project files</a>

        {% if page.gerber != false %}
        <br>
        <a href="{{site.github.repository_url}}/tree/master/hardware/gerbers" class="button is-large is-fullwidth is-info">Download Gerber files</a>
        {% endif %}
      </div>
    </div>

    {% if page.three_d != false %}
    <div class="columns is-desktop">
      <div class="column"><a href="{{site.url}}/images/hardware/3dview-front.png"><img src="{{site.url}}/images/hardware/3dview-front.png" alt="3D view Front"></a></div>
      <div class="column"><a href="{{site.url}}/images/hardware/3dview-back.png"><img src="{{site.url}}/images/hardware/3dview-back.png" alt="3D view Back"></a></div>
    </div>
    {% endif %}
  </div>
</section>

<section class="section is-small">
  <div class="container">
    <div class="columns is-desktop">
      <div class="column">
        <h2 class="title is-1">Schematic</h2>
        <a href="{{site.url}}/hardware/docs/schematic.pdf" class="button is-large is-fullwidth is-info">Download schematic PDF</a>

        <br>
        <a href="{{site.url}}/images/hardware/schematic.png"><img src="{{site.url}}/images/hardware/schematic.png" alt="Schematic"></a>
      </div>

      <div class="column">
        <h2 class="title is-1">PCB Layout</h2>

        {% if page.pcb_layout == false %}
        <p class="subtitle">Coming soon...</p>
        {% else %}
        <a href="{{site.url}}/hardware/docs/layout.pdf" class="button is-large is-fullwidth is-info">Download PCB layout PDF</a>

        <br>
        <a href="{{site.url}}/images/hardware/layout-front.png"><img src="{{site.url}}/images/hardware/layout-front.png" alt="Layout front"></a>
        <br>
        <a href="{{site.url}}/images/hardware/layout-back.png"><img src="{{site.url}}/images/hardware/layout-back.png" alt="Layout back"></a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section class="section is-small">
  <div class="container">
    <h2 class="title is-1">Prototypes</h2>

    <div class="columns is-desktop">
      <div class="column">
        <img src="{{site.url}}/images/prototype/prototype-1.jpg" alt="Prototype 1">
      </div>
      <div class="column">
        <img src="{{site.url}}/images/prototype/prototype-2.jpg" alt="Prototype 2">
      </div>
    </div>
  </div>
</section>
