<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.title %}
  <title>{{ site.title }} | {{ page.title }}</title>
  {% else %}
  <title>{{ site.title }} | {{ site.description }}</title>
  {% endif %}
  <meta name="description" content="{{site.description}}">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/a11y-dark.min.css">
  <link href="//fonts.googleapis.com/css?family=Schoolbell&display=swap" rel="stylesheet">
  {% if page.url == "/schedule" %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.3.0/frappe-gantt.css">
  <style> .gantt-container { overflow: hidden; }</style>
  {% endif %}
  <style>
    .highlight { max-height: 500px; overflow: auto; margin: 24px 0;}
    .handwriting { font-family: 'Schoolbell', cursive; transform: rotate(-5deg); margin: 0 0.5em; line-height: 1; }
    @media only screen and (min-width: 1025px) { html.has-navbar-fixed-top { padding-top: 5.25rem; } }
  </style>
</head>
