<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.url == "/" %}
  <title>{{ site.title }} | {{ site.description }}</title>
  {% else %}
  {% if page.title %}
  <title>{{ site.title }} | {{ page.title }}</title>
  {% else %}
  <title>{{ site.title }} | {{ site.description }}</title>
  {% endif %}
  {% endif %}
  <meta name="description" content="{{site.description}}">

  <link rel="shortcut icon" href="{{site.parent}}/assets/favicon.ico" />
  <link rel="icon" type="image/png" sizes="192x192" href="{{site.parent}}/assets/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="{{site.parent}}/assets/android-chrome-512x512.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.parent}}/assets/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.parent}}/assets/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.parent}}/assets/favicon-32x32.png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css"
    integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link href="//fonts.googleapis.com/css?family=Schoolbell&display=swap" rel="stylesheet">

  <style>
    .highlight { max-height: 500px; overflow: auto; margin: 24px 0; }
    .handwriting { font-family: 'Schoolbell', cursive; transform: rotate(-5deg); margin: 0 0.5em; line-height: 1; }
  </style>

  {% if page.url == "/csq" %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.6.1/frappe-gantt.css"
    integrity="sha512-57KPd8WI3U+HC1LxsxWPL2NKbW82g0BH+0PuktNNSgY1E50mnIc0F0cmWxdnvrWx09l8+PU2Kj+Vz33I+0WApw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  {% endif %}

  {% if page.url contains "/software" or "/examples" %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-light.min.css"
    integrity="sha512-o5v54Kh5PH0dgnf9ei0L+vMRsbm5fvIvnR/XkrZZjN4mqdaeH7PW66tumBoQVIaKNVrLCZiBEfHzRY4JJSMK/Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  {% endif %}

  {% if page.url contains "/examples" %}
  <style>
    .video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
    .video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
  </style>
  {% endif %}
</head>
