{% assign lessons = page.lessons %}
{% for le in lessons %}
<section class="section is-small">
  <div class="container">

    <h2 class="title is-1">{{ le.title }}</h2>
    {% if le.subtitle %}
    <p class="subtitle">{{le.subtitle}}</p>
    {% endif %}

    <div class="content is-medium">
      <ul>
        {% for li in le.list %}
        <li>
          {{ li.name }}
          {% if li.image %}
          <img src="images/lessons/{{ li.image }}" alt="{{ li.name }}">
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endfor %}

{% for im in page.improvements %}
<section class="section is-small">
  <div class="container">

    <h2 class="title is-1">{{ im.title }}</h2>
    {% if im.subtitle %}
    <p class="subtitle">{{im.subtitle}}</p>
    {% endif %}

    <div class="content is-medium">
      <ul>
        {% for li in im.list %}
        <li>{{ li.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endfor %}

{% if page.similar %}
<section class="section is-small">
  <div class="container">
    <h2 class="title is-1">Similar projects</h2>

    <div class="content is-medium">
      <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <th>Project</th>
            <th>Attributes</th>
          </tr>
        </thead>
        <tbody>
          {% for project in page.similar %}
          <tr>
            <td>
              <a href="{{ project.url }}">{{ project.name }}</a>
              <span class="tag is-light">{{ project.type }}</span>

              {% if project.year %}
              <span class="tag is-dark">{{ project.year }}</span>
              {% endif %}

              {% if project.cost %}
              <span class="tag is-info">USD {{ project.cost }}</span>
              {% endif %}
            </td>
            <td>
              {% if project.components %}
              {% for comp in project.components %}
              {{ comp.type }}{% if comp.name %}:{% endif %}
              <a href="{{ comp.url }}">{{ comp.name }}</a>
              <br>
              {% endfor %}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endif %}

{% assign references = page.references %}
{% for ref in references %}
<section class="section is-small">
  <div class="container">
    <h2 class="title is-1">{{ ref.topic }}</h2>

    <div class="content is-medium">
      <ol>
        {% for li in ref.list %}
        <li><a href="{{ li.url }}">{{ li.name }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
</section>
{% endfor %}

<section class="section is-small">
  <div class="container">
    <h2 class="title is-1">Schedule</h2>
    <p class="subtitle">The Gantt Chart below indicates the actual time taken to complete this project. It can be used
      as a rough guidline when duplicating or iterating similar projects in the future.</p>
    <svg id="gantt"></svg>
  </div>
</section>
