{% if page.downloads != false %}
<section class="section is-small">
  <div class="container">
    <h2 class="title is-1">Downloads</h2>

    <div class="content is-medium">
      <div class="buttons">
        {% if page.downloads.code != false %}
        <a class="button is-primary is-outlined" href="{{site.github.raw_content_url}}/_code/demo">
          <span class="icon">
            <i class="fas fa-file-code"></i>
          </span>
          <span>Demo Code</span>
        </a>
        {% endif %}

        {% if page.downloads.schematic != false %}
        <a class="button is-info is-outlined" href="{{ site.url }}/pcb/docs/schematic.pdf">
          <span class="icon">
            <i class="far fa-file-pdf"></i>
          </span>
          <span>Schematic</span>
        </a>
        {% endif %}

        {% if page.downloads.layout != false %}
        <a class="button is-info is-outlined" href="{{ site.url }}/pcb/docs/layout.pdf">
          <span class="icon">
            <i class="far fa-file-pdf"></i>
          </span>
          <span>Layout</span>
        </a>
        {% endif %}

        {% if page.downloads.kicad != false %}
        <a class="button is-info is-outlined" href="{{site.github.repository_url}}/tree/master/pcb">
          <span class="icon">
            <i class="fas fa-file-contract"></i>
          </span>
          <span>ECAD KiCad files</span>
        </a>
        {% endif %}

        {% if page.downloads.gerber != false %}
        <a class="button is-info is-outlined" href="{{site.github.repository_url}}/releases">
          <span class="icon">
            <i class="fas fa-file-image"></i>
          </span>
          <span>Gerber files</span>
        </a>
        {% endif %}

        {% if page.downloads.bom != false %}
        <a class="button is-danger is-outlined" href="{{site.url}}/_data/bill_of_materials.csv">
          <span class="icon">
            <i class="fas fa-table"></i>
          </span>
          <span>Bill of Materials</span>
        </a>
        {% endif %}

        {% if page.downloads.freecad != false %}
        <a class="button is-dark is-outlined" href="{{site.github.repository_url}}/tree/master/case/case.FCStd">
          <span class="icon">
            <i class="fas fa-box-open"></i>
          </span>
          <span>FreeCAD file</span>
        </a>
        {% endif %}

        {% if page.downloads.case != false %}
        <a class="button is-dark is-outlined" href="{{site.github.repository_url}}/tree/master/case/exports">
          <span class="icon">
            <i class="fas fa-box-open"></i>
          </span>
          <span>Case STL</span>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endif %}
