{% assign lessons = page.lessons %}
<section class="section is-small">
  <div class="container">
    <h2 class="title is-1 has-background-info-light	">Quality</h2>
    <p class="subtitle">For future improvements</p>

    <div class="content is-medium">
      <ul>
        {% for le in lessons %}
        <li>
          {{ le.name }}
          {% if le.image %}
          <img src="images/lessons/{{ li.image }}" alt="{{ li.name }}">
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
