{% assign references = page.references %}
{% for ref in references %}
<section class="section is-small">
  <div class="container">
    <h2 class="title is-1">{{ ref.topic }}</h2>

    <div class="content is-medium">
      <ol>
        {% for li in ref.list %}
        <li>
          <a href="{{ li.url }}">{{ li.name }}</a>
          {% if li.description %}
          : {{ li.description }}
          {% endif %}
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</section>
{% endfor %}
